.flexRedirectForm {
	display: flex;
	flex-wrap: wrap;
	gap: 0.4rem;
	width: clamp(0px, 100%, 750px);
	justify-content: center;
	margin: auto;
}
.inputForm {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 0.4rem;
}
.flexFormButtons {
	display: flex;
	width: 100%;
	gap: 0.4rem;
}
.itemFormButtons {
	width: 100%;
	padding: 0.4rem;
}
.receiveURLInput,
.receiveURLPassword {
	width: 100%;
	padding-left: 58px;
	padding-right: 58px;
	height: 70px;
	margin: auto;
}
@media screen and (max-width: 480px) {
	.itemFormButtons {
		padding: 0.2rem;
		font-size: 12px;
	}
	.receiveURLInput,
	.receiveURLPassword {
		padding-left: 29px;
		padding-right: 29px;
		height: 35px;
	}
}
