
.icon-home:before { content: '\e800'; } /* '' */
.icon-info-circled:before { content: '\e801'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-doc-text-inv:before { content: '\f15c'; } /* '' */
.icon-bank:before { content: '\f19c'; } /* '' */
.icon-expeditedssl:before { content: '\f23e'; } /* '' */
