.errorHide {
	display: none;
}
.errorShow {
	width: 40%;
	display: block;
	background: var(--error-red);
	border-radius: 50px;
	padding: 0.4rem;
	margin: 0.4rem auto;
	text-align: center;
}
.flexIOForm {
	display: flex;
	flex-wrap: wrap;
	gap: 0.4rem;
}
.inputDiv,
.outputDiv {
	width: 100%;
	display: flex;
}
.generateURLInput,
.generateURLOutput {
	width: clamp(0px, 80%, 500px);
	padding-left: 58px;
	padding-right: 58px;
	height: 70px;
	margin: auto;
}
@media screen and (max-width: 480px) {
	.generateURLInput,
	.generateURLOutput {
		padding-left: 29px;
		padding-right: 29px;
		height: 35px;
	}
}
