.flexContact {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 0.4rem;
	width: 100%;
}
.headerContact {
	width: 100%;
	text-align: center;
}
.itemContact {
	width: 85%;
	padding: 0.4rem;
	text-align: start;
}