.flexContact {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 0.4rem;
	width: 100%;
}
.headerContact {
	width: 100%;
	text-align: center;
}
.itemContact {
	width: clamp(0px, 100%, 750px);
	padding: 0.4rem;
	text-align: start;
}
.flexFormInput {
	display: flex;
	gap: 0.4rem;
	flex-wrap: wrap;
}
.itemFormInput,
.itemFormTextarea {
	display: block;
	padding: 1rem;
	width: 100%;
	margin: auto;
}
.itemFormTextarea {
	min-height: 200px;
}
.headerEmail {
	text-align: center;
	width: 100%;
}
.flexFormButtons {
	display: flex;
	width: 100%;
	gap: 0.4rem;
}
.itemFormButtons {
	width: 100%;
	padding: 0.4rem;
}
@media screen and (max-width: 768px) {
	.itemContact {
		width: 100%;
	}
}
