.outermostNav {
	border-top: 3px solid var(--theme-blue);
	background: var(--theme-white);
	box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.4);
	display: flex;
	justify-content: space-between;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}
.navLinkHolder {
	padding: 1rem;
}
.navLink {
	padding: 1rem;
	font-weight: bold;
}

@media (prefers-color-scheme: dark) {
	.outermostNav {
		background: var(--theme-black);
		box-shadow: 0px 4px 8px 0px rgba(255, 255, 255, 0.4);
	}
}
