:root {
	--theme-white: #ffffff;
	--theme-black: #1a2632;
	--theme-blue: #0dbdfd;

	--input-black: #233343;

	--error-red: #ff0000;
	--fast-transition: all 100ms linear 0s;
}
::selection {
	background: var(--theme-blue);
	color: var(--theme-white);
}
::-webkit-scrollbar-track {
	background: var(--theme-white);
}
::-webkit-scrollbar-thumb {
	background: var(--theme-blue);
}
::-webkit-scrollbar-thumb:hover {
	background: #0dbdfdaa;
	cursor: pointer;
}
::-webkit-scrollbar {
	width: 1vh;
	height: 1vh;
}
*,
html {
	padding: 0;
	margin: 0;
}
html {
	scroll-behavior: smooth;
	scrollbar-width: thin;
	scrollbar-color: var(--theme-blue) var(--theme-white);
}
body {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	z-index: unset;
	line-height: 1.6rem;
	animation: opacity 200ms linear 0s 1 normal;
}
@keyframes opacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
a {
	color: inherit;
	text-decoration: none;
	user-select: none;
}
a:hover,
a:active,
a:focus {
	color: var(--theme-blue);
	transition: var(--fast-transition);
}
summary {
	user-select: none;
}
summary:hover,
summary:active,
summary:focus {
	color: var(--theme-blue);
	transition: var(--fast-transition);
	cursor: pointer;
}
textarea {
	font-family: inherit;
	resize: vertical;
}
.horizontalRule {
	width: 70%;
	color: var(--theme-blue);
	margin: 1rem auto;
}
@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
		scrollbar-color: var(--theme-blue) var(--theme-black);
	}
	body {
		color: var(--theme-white);
		background: var(--theme-black);
	}
	button {
		border: 3px solid var(--theme-blue);
		background: var(--input-black);
		transition: var(--fast-transition);
	}
	button:hover,
	button:active,
	button:focus {
		border: 3px solid var(--theme-blue);
		background: var(--theme-blue);
	}
	input,
	textarea {
		background: var(--input-black);
		border: 3px solid var(--theme-blue);
		font-size: inherit;
	}
}
