.headerWhyChoose {
	width: 100%;
	text-align: center;
}
.flexWhyChoose {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 0.4rem;
	width: 100%;
}
.itemWhyChoose {
	width: 40%;
	padding: 1rem;
}
@media screen and (max-width: 480px) {
	.itemWhyChoose {
		width: 100%;
	}
}
